header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: grey;
}

.button {
    color: #fff;
    font-size: 18px;
    background-color: aqua;
    border-radius: 30px;
    border: none;
}

 section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

 h1 {
 font-size: 80px;
}

.button1 {
    font-size: 25px;
    color: #fff;
    border-radius: 30px;
    background-color: aqua;
    border: none;
    margin-top: 12px;
}

p {
    margin-top: -55px;
    color: grey;
    font-size: 22px;
}

.section1 {
    width: 750px;
    background-color: blueviolet;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: -70px;
    z-index: 2;
    position: relative;
}

.button2 {
    width: 200px;
    font-size: 20px;
    color: #fff;
    background-color: aqua;
    border-radius: 12px;
    border: none;
    padding: 20px;
}

.input {
    width: 520px;
    height: 60px;
    border-radius: 10px;
    border: none;
}

.box1 {
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
    margin: 0 auto;
}

.section2 {
    padding-top: 100px;
    background-color: #38000f;
    
}

.text {
    font-size: 40px;
    color: #fff;
    margin-bottom: 5px;
}

.img5{
    color: #fff;
}

li {
    color: #fff;
    list-style: none;
}

.button3 {
    width: 200px;
    height: 48px;
    font-size: 25px;
    color: #fff;
    background-color: aqua;
    border-radius: 30px;
    border: none;
}

.right5 {
    display: flex;
    gap: 15px;
}

footer {
    background-color: black;
    padding: 25px 100px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
